@import url('https://fonts.googleapis.com/css2?family=Karla&display=swap');

:root,
.pemb-page {
  --primary: #e54e37;
  --primary-light: #f4c7c1;
  --primary-lightest: #ffe6e2;
  --secondary: #004987;
  --secondary-light: #6eb4ef;

  --medium: #d0d0d0;
  --light: #f0f0f0;
  --dark: #515151;

  --background: #ffffff;
  --background-rgb: 240, 240, 240;
  --text: #515151;
  --text-rgb: 81, 81, 81;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #222;
    --background-rgb: 34, 34, 34;
    --text: #f0f0f0;
    --text-rgb: 240, 240, 240;
  }

  .blurry-background {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="20px" height="20px" viewBox="0 0 747.2 726.7" fill="%23004987"><path d="M539.8 137.6c98.3 69 183.5 124 203 198.4 19.3 74.4-27.1 168.2-93.8 245-66.8 76.8-153.8 136.6-254.2 144.9-100.6 8.2-214.7-35.1-292.7-122.5S-18.1 384.1 7.4 259.8C33 135.6 126.3 19 228.5 2.2c102.1-16.8 213.2 66.3 311.3 135.4z"></path></svg>');
    background-repeat: no-repeat;
    background-size: 40vh 40vh;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-position: 25% 45%;
    filter: blur(50px);
    opacity: 0.15;
    pointer-events: none;
  }
}

* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  overflow-y: scroll;
  background: var(--background);
}
::-webkit-scrollbar {
  width: 10px; /* Mostly for vertical scrollbars */
  height: 10px; /* Mostly for horizontal scrollbars */
}
::-webkit-scrollbar-thumb {
  /* Foreground */
  background: rgba(var(--text-rgb), 0.1);
  border-radius: 3px;
}
::-webkit-scrollbar-track {
  /* Background */
  background: var(--background);
}
@media (max-width: 600px) {
  body {
    padding: 0 5px;
  }
}
body,
input,
select,
textarea {
  font-family: Futura, Gill Sans, sans-serif;
  font-size: 15px;
  color: var(--text);
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

h2 {
  padding: 10px;
  margin-bottom: 0;
}

h3 {
  font-size: 16px;
  font-weight: normal;
  padding: 10px;
  margin: 0;
  margin-bottom: 20px;
}

button {
  cursor: pointer;
}

.competitions h3,
.leaderboard-section-heading,
.tee-times-section-heading {
  margin-top: 20px;
  border-bottom: 1px solid rgba(var(--text-rgb), 0.2);
  margin-bottom: 10px;
}

.page-desc {
  padding: 10px;
  margin: 0;
  opacity: 0.7;
  line-height: 1.5;
  margin-bottom: 10px;
}
.page-desc a {
  color: inherit;
  text-decoration: underline;
}

.leaderboard-page-subtitle,
.tee-times-page-subtitle {
  font-size: 14px;
  font-weight: normal;
  padding: 5px 10px 10px;
  margin: 0;
  opacity: 0.7;
}

a {
  color: var(--primary);
}

.page-margin {
  padding: 10px;
}
.alert {
  margin: 10px 0;
  padding: 10px;
  border-radius: 3px;
  background-color: var(--primary-lightest);
  border: 1px solid var(--primary-light);
  color: var(--dark);
}
.alert.page-margin {
  margin-left: 10px;
  margin-right: 10px;
}

.leaderboard-page,
.tee-times-page,
.competitions,
.player-page,
.players,
.profile,
.schedule,
.sign-in,
nav {
  max-width: 600px;
  margin: 0 auto;
}

.player-profile,
.course {
  max-width: 710px;
  margin: 0 auto;
}

nav {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  margin-top: 15px;
  font-size: 16px;
}
nav a {
  text-decoration: none;
}
.menu-item-can-be-made-active {
  display: inline-block;
  padding: 3px 6px;
  border-radius: 3px;
}
.menu-item-long {
  display: inline;
}
.menu-item-short {
  display: none;
}

nav svg {
  width: 30px;
  height: 30px;
}
@media (max-width: 600px) {
  nav {
    gap: 7px;
  }
  .menu-item-long {
    display: none;
  }
  .menu-item-short {
    display: inline;
  }
  .menu-hide-mobile {
    display: none;
  }
}

@media (display-mode: standalone) {
  nav {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: var(--background);
    border-top: 1px solid rgba(var(--text-rgb), 0.2);
    z-index: 1;
    padding-bottom: 40px;
    padding-left: 15px;
    padding-right: 15px;
    max-width: 100%;
  }
}

.competitions ul {
  padding: 10px;
  margin-bottom: 10px;
}
.competitions ul li {
  margin-bottom: 30px;
}
.competitions ul li:last-child {
  margin-bottom: 0;
}

.competitions li.completed {
  opacity: 0.3;
  transition: all 0.1s;
}
.competitions li.completed:hover {
  opacity: 1;
}
.competition {
  text-decoration: none;
  color: inherit;
  display: grid;
  grid-template-columns: 55px minmax(0, 1fr);
  column-gap: 10px;
  align-items: center;
}
.competition-list-item .competition-name {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.calendar-event {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 2px solid currentColor;
  border-radius: 3px;
  padding: 3px;
  font-size: 12px;
  border-top-width: 8px;
  min-height: 60px;
}
.calendar-event b {
  font-size: 16px;
}

.competition p {
  margin: 0;
  opacity: 0.7;
  font-size: 14px;
}
.competition h4 {
  font-size: 16px;
  margin: 0 0 4px;
  font-weight: normal;
}
.competitions li.completed .competition {
  color: inherit;
}

.competitions li.current .competition h4 {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.competitions li.current .competition h4 > * {
  margin-right: 10px;
}
.competitions li.current .competition h4:after {
  content: 'ongoing';
  text-transform: uppercase;
  background-color: var(--primary);
  display: inline-block;
  padding: 4px 7px;
  border-radius: 3px;
  font-size: 10px;
  line-height: 1;
  color: var(--light);
}

.leaderboard-page ul li {
  all: unset;
  display: block;
  border-bottom: 1px solid rgba(var(--text-rgb), 0.2);
}

.leaderboard-page .player a,
.oom .player {
  all: unset;
  cursor: pointer;
  display: grid;
  grid-template-columns: 30px auto 80px;
  column-gap: 15px;
  padding: 10px 10px;
  transition: all 0.2s;
  min-height: 50px;
}

.leaderboard-page .stats {
  transition: all 0.2s;
  overflow: hidden;
  grid-column-start: 2;
  grid-column-end: 4;
}

.leaderboard-page .favorite-button {
  all: unset;
  cursor: pointer;
  position: absolute;
  bottom: 0;
  left: 50%;
  padding: 0;
  line-height: 0;
  transform: translateX(-50%);
}
.leaderboard-page .player-entry-only .favorite-button {
  bottom: auto;
  top: 0;
}
.leaderboard-page .player-entry-first-cut {
  border-top: 5px solid var(--primary);
  padding-top: 10px;
  margin-top: -1px;
  position: relative;
}
.leaderboard-page .player-entry-first-cut:before {
  content: 'PROJECTED CUT LINE';
  line-height: 1;
  position: absolute;
  background-color: var(--background);
  padding: 0 10px;
  color: var(--primary);
  top: -2px;
  left: 50%;
  transform: translate(-50%, -50%);
}
.leaderboard-page .player-entry-first-cut-performed:before {
  content: 'CUT LINE';
}

.favorite-button {
  all: unset;
  cursor: pointer;
  padding: 0;
  line-height: 0;
}
.favorite-button.is-favorite {
  color: var(--primary);
}
.favorite-button svg {
  transition: fill 0.2s;
  fill: currentColor;
}

.leaderboard-page .round {
  font-family: monospace;
  font-size: 12px;
  line-height: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2px;
}

.round-score {
  opacity: 0.5;
  width: 15px;
  height: 15px;
  display: block;
  text-align: center;
  line-height: 1;
  font-size: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0px solid rgba(var(--text-rgb), 0.5);
  position: relative;
}

.round-total {
  font-weight: bold;
}
.round-total.under-par {
  color: var(--primary);
}
.round-score.birdie {
  border-width: 1px;
  border-radius: 50%;
}
.round-score.eagle {
  border-width: 1px;
  border-radius: 50%;
  border-color: var(--primary);
  color: var(--primary);
  opacity: 0.8;
}
.round-score.eagle:after {
  content: '';
  display: block;
  top: 1px;
  left: 1px;
  right: 1px;
  bottom: 1px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  position: absolute;
  border-color: var(--primary);
  color: var(--primary);
}
.round-score.hio {
  opacity: 1;
  font-weight: bold;
  border-width: 0;
  border-radius: 50%;
  background-color: var(--primary);
  color: var(--light);
}
.round-score.bogey {
  border-width: 1px;
}
.round-score.bogey-plus {
  border-width: 1px;
}
.round-score.bogey-plus:after {
  content: '';
  display: block;
  top: 1px;
  left: 1px;
  right: 1px;
  bottom: 1px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  position: absolute;
}

.leaderboard-page .score {
  text-align: right;
  font-size: 18px;
  line-height: 25px;
}

.leaderboard-page .position {
  position: relative;
  font-size: 18px;
  grid-row-start: 1;
  grid-row-end: 3;
  text-align: center;
}
.leaderboard-page .position-long-text {
  font-size: 12px;
}
.leaderboard-page .score.under-par {
  color: var(--primary);
}

.players .player .club,
.leaderboard-page .club {
  display: block;
  opacity: 0.5;
  font-size: 12px;
  margin: 3px 0 5px;
}
main {
  min-height: 100vh;
}
footer {
  text-align: center;
  opacity: 0.3;
  padding: 100px 10px;
}

.oom .round {
  justify-content: flex-start;
  opacity: 1;
}

.oom .round-score {
  width: 24px;
  height: auto;
  line-height: 15px;
  margin-right: 3px;
}

.oom .round-score.first {
  background-color: var(--primary);
  color: var(--light);
  border: 1px solid var(--primary);
  font-weight: bold;
  opacity: 1;
}
.oom .round-score.top-10 {
  border: 1px solid var(--medium);
}
.courses {
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
}
.courses > * {
  margin-right: 10px;
}
.courses h4 {
  margin: 0 0 5px;
}
.courses a {
  text-decoration: none;
  color: inherit;
  font-size: 14px;
}

.course-4:before,
.course-3:before,
.course-2:before,
.course-1:before {
  content: ' ';
  width: 7px;
  height: 7px;
  display: inline-block;
  border-radius: 2px;
  background-color: var(--primary);
  margin-right: 5px;
  vertical-align: baseline;
}
.course-2:before {
  background-color: var(--secondary);
}
.course-3:before {
  background-color: var(--primary-light);
}
.course-4:before {
  background-color: var(--secondary-light);
}

.course-table {
  padding: 10px;
  width: 100%;
  overflow: auto;
}
.course {
  margin-bottom: 15px;
}

.course-table {
  color: var(--text);
  font-size: 12px;
  opacity: 0.8;
}

.course-table {
  display: grid;
  grid-template-columns: auto repeat(21, 1fr);
  column-gap: 5px;
}
.course-item {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 5px;
  text-align: center;
}
.course-item > *:first-child {
  font-weight: bold;
}
.course-item:first-child {
  text-align: left;
  font-weight: bold;
  white-space: nowrap;
}

@media (max-width: 900px) {
  .course-table {
    grid-template-columns: 1fr;
    row-gap: 10px;
    max-width: 200px;
    margin: 0 auto;
  }
  .course-item {
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 5px;
    text-align: left;
  }
}

.leaderboard-page .round-start-time {
  opacity: 0.5;
}
@media (max-width: 400px) {
  .round-score {
    opacity: 0.6;
    font-size: 10px;
    width: 12px;
    height: 12px;
  }
  .round-score.eagle {
    border-width: 2px;
    border-radius: 50%;
    border-color: var(--primary);
    color: var(--primary);
    opacity: 1;
  }
  .round-score.eagle:after {
    display: none;
  }
  .round-start-time {
    font-size: 10px;
    line-height: 12px;
  }
  .oom .player,
  .leaderboard-page .player a {
    column-gap: 5px;
    font-size: 15px;
  }
  .leaderboard-page .position {
    font-size: 15px;
  }
  .leaderboard-page .score {
    font-size: 15px;
    line-height: 20px;
  }
}

.loading-skeleton {
  padding: 30px 10px;
}

.loading-skeleton-item {
  position: relative;
  display: grid;
  grid-template-columns: 50px 1fr 40px;
  column-gap: 10px;
  row-gap: 10px;
  margin-bottom: 20px;
  overflow: hidden;
}
.loading-skeleton-item span {
  background-color: var(--background);
  filter: brightness(90%);
  display: block;
  min-height: 20px;
}

.loading-box {
  grid-row-start: 1;
  grid-row-end: 3;
}
.loading-text-sub {
  grid-column-start: 2;
  grid-column-end: 4;
}
.loading-skeleton-item:first-child .loading-text-heading {
  width: 85%;
}

.loading-skeleton-item:nth-child(2) .loading-text-heading {
  width: 100%;
}

.loading-skeleton-item:nth-child(3) .loading-text-heading {
  width: 75%;
}

.loading-skeleton-item:nth-child(4) .loading-text-heading {
  width: 90%;
}

@keyframes shimmer {
  100% {
    transform: translateX(100%);
  }
}

.loading-skeleton-item:after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: translateX(-100%);
  background-image: linear-gradient(
    90deg,
    rgba(var(--background-rgb), 0) 0,
    rgba(var(--background-rgb), 0.2) 20%,
    rgba(var(--background-rgb), 0.5) 60%,
    rgba(var(--background-rgb), 0)
  );
  animation: shimmer 2s infinite;
  content: '';
}

.player-profile-club {
  margin: 0;
  opacity: 0.7;
  font-size: 14px;
  margin-top: 5px;
}
.player-profile-top {
  display: grid;
  grid-template-columns: 1fr auto auto auto;
  column-gap: 20px;
  max-width: 600px;
  margin: 0 auto 20px;
}
.player-profile-course-heading {
  max-width: 600px;
  margin: 0 auto;
  font-size: 20px;
  margin-bottom: 10px;
  margin-top: 20px;
}
.player-profile-name {
  font-size: 24px;
  font-weight: bold;
  display: block;
  color: inherit;
  text-decoration: none;
}

.player-profile-top b {
  font-size: 14px;
  opacity: 0.7;
  display: block;
  margin-bottom: 5px;
  font-weight: normal;
}
.player-profile-topar,
.player-profile-position,
.player-profile-phcp {
  text-align: right;
  font-size: 24px;
}

.player-profile-topar.under-par span {
  color: var(--primary);
}
.player-round {
  margin-bottom: 20px;
}
.player-round-scorecard {
  display: grid;
  grid-template-columns: repeat(22, 1fr);
  column-gap: 10px;
  row-gap: 3px;
  font-size: 12px;
  padding: 10px 0;
  text-align: center;
  overflow-x: auto;
}
.player-round-scorecard > * {
  opacity: 0.7;
}
.player-round-scorecard > *:first-child {
  text-align: left;
}
.player-round-scorecard .round-score {
  opacity: 1;
  width: 20px;
  height: 20px;
  font-size: inherit;
  margin: 0 auto;
}
.player-round-number {
  display: grid;
  grid-template-columns: auto auto;
  gap: 20px;
  justify-content: space-between;
}
.player-round-course {
  font-size: 14px;
}
.player-round-scorecard-label,
.player-round-scorecard-val {
  line-height: 20px;
  margin-bottom: 5px;
}

.icon-button {
  all: unset;
  cursor: pointer;
  border-radius: 3px;
  padding: 5px 10px;
  display: inline-grid;
  grid-template-columns: auto 1fr;
  column-gap: 5px;
  align-items: center;
  transition: all 0.2s;
  color: var(--primary);
  border: 2px solid currentColor;
}
.icon-button:disabled {
  filter: grayscale(1);
  cursor: default;
}
.player-page-club {
  padding: 10px 0;
  margin-top: 0;
}

.player-page-top h2 {
  padding: 0;
  margin: 0;
}

.player-page-top {
  margin-top: 30px;
  padding: 10px;
  display: grid;
  grid-template-columns: 1fr auto;
  column-gap: 15px;
}
.player-page-oom {
  color: inherit;
  text-align: right;
  text-decoration: none;
}
.player-page-oom b {
  display: block;
  font-size: 24px;
  margin-bottom: 10px;
}

.sub-form h4 {
  margin-bottom: 10px;
}
.sub-form p {
  margin: 0 0 15px;
}
.sub-form input {
  display: block;
  margin-bottom: 10px;
  max-width: 100%;
  width: 300px;
}
input[type='text'],
input[type='email'],
input[type='password'] {
  all: unset;
  box-sizing: border-box;
  border: 2px solid var(--medium);
  border-radius: 3px;
  padding: 5px 10px;
  transition: all 0.1s;
}
input:focus,
select:focus {
  border-color: var(--primary);
  outline: none;
}
select {
  border: 2px solid var(--medium);
  border-radius: 3px;
  background-color: transparent;
  padding: 5px;
  margin: 0;
}
.players .player {
  display: grid;
  padding: 10px;
  grid-template-columns: auto 1fr 80px;
  column-gap: 15px;
}
.players .player a {
  color: inherit;
  text-decoration: none;
}
.players .player .oom-position {
  text-align: right;
  font-size: 18px;
  line-height: 25px;
  font-weight: normal;
}
.players .sort-by {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 10px;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 15px;
}
.players .sort-by label span {
  display: block;
  opacity: 0.7;
  font-size: 14px;
  margin-bottom: 3px;
}
@media (max-width: 500px) {
  .players .sort-by {
    grid-template-columns: 1fr;
  }
}
.players .sort-by .search-input {
  padding-right: 40px;
  background: transparent
    url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='rgb(100,100,100)' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E")
    no-repeat 13px center;
  background-position: right 13px center;
}
.players .sort-by input,
.players .sort-by select {
  display: block;
  width: 100%;
}

.sign-in-form {
  border: 1px solid var(--medium);
  border-radius: 3px;
  padding: 15px;
}
.sign-in-form h4 {
  margin: 0 0 15px;
}
input.sign-in-form-input {
  margin-bottom: 10px;
  width: 100%;
  max-width: 250px;
}

.profile-settings {
  margin-bottom: 40px;
}
.profile-setting {
  display: grid;
  grid-template-columns: 1fr auto;
  column-gap: 20px;
  align-items: center;
  margin-bottom: 20px;
}
input.ios-switch {
  position: relative;
  -webkit-appearance: none;
  outline: none;
  width: 50px;
  height: 30px;
  background-color: var(--background);
  border: 1px solid rgba(var(--text-rgb), 0.3);
  border-radius: 50px;
  box-shadow: inset -20px 0 0 0 var(--background);
  cursor: pointer;
}
input.ios-switch:disabled {
  cursor: inherit;
  opacity: 0.4;
}

input.ios-switch:after {
  content: '';
  position: absolute;
  top: 1px;
  left: 1px;
  background: #ffffff;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.2);
}

input.ios-switch:checked {
  box-shadow: inset 20px 0 0 0 var(--primary);
  border-color: var(--primary);
}

input.ios-switch:checked:after {
  left: 20px;
  box-shadow: -2px 4px 3px rgba(0, 0, 0, 0.05);
}
.results-table {
  width: 100%;
  border-spacing: 5px;
  margin: 0 -5px;
}
.results-table th {
  padding: 10px 0;
}
.results-table th:first-child,
.results-table td:first-child {
  text-align: left;
}
.results-table th,
.results-table td {
  text-align: right;
}
.results-table td {
  padding: 10px 0;
  vertical-align: middle;
}
.results-table-competition {
  font-size: 16px;
}
.results-table-competition a {
  color: inherit;
  text-decoration: none;
}
.results-table-competition div {
  font-size: 12px;
  opacity: 0.5;
  padding: 3px 0;
}
.results-table-score,
.results-table-position {
  font-weight: bold;
  font-size: 20px;
}
.results-table-score.under-par {
  color: var(--primary);
}

.schedule-venue {
  display: block;
  opacity: 0.7;
}

.h-intro {
  margin-top: 30px;
  margin-bottom: 0;
  padding: 0 10px;
  font-size: 14px;
  opacity: 0.7;
}
.leaderboard-page-heading,
.tee-times-page-heading {
  margin-top: 0;
  padding-top: 5px;
}

.leaderboard .leaderboard-competition-name {
  padding: 0;
  margin: 5px 0 10px;
  font-size: 18px;
}
.leaderboard .leaderboard-description {
  opacity: 0.7;
  font-size: 14px;
}
.leaderboard .leaderboard-legend {
  opacity: 0.7;
  font-size: 14px;
}
.leaderboard {
  display: block;
  color: inherit;
  text-decoration: none;
  margin: 0 10px;
  margin-top: 30px;
  margin-bottom: 40px;
}
.leaderboard table {
  width: 100%;
  border-spacing: 0;
}
.leaderboard td,
.leaderboard th {
  padding: 5px 10px;
  text-align: left;
}
.leaderboard tr:nth-child(1) td {
  padding-top: 10px;
}
.leaderboard td:nth-child(2) {
  width: 100%;
}
.leaderboard-score.under-par {
  font-weight: bold;
  color: var(--primary);
}
.leaderboard tr:last-child td {
  padding-bottom: 10px;
  border-bottom: 1px solid rgba(var(--text-rgb), 0.2);
}
.leaderboard td:nth-child(3),
.leaderboard td:nth-child(4),
.leaderboard th:nth-child(3),
.leaderboard th:nth-child(4) {
  text-align: center;
}
.leaderboard td {
  vertical-align: baseline;
}
.leaderboard thead th {
  font-weight: bold;
  border-bottom: 1px solid rgba(var(--text-rgb), 0.2);
}
.leaderboard-club {
  font-size: 12px;
  opacity: 0.5;
  margin-top: 3px;
}
.leaderboard-view-all {
  color: var(--primary);
  margin-top: 20px;
  text-decoration: underline;
}

.code-input {
  position: relative;
  overflow: hidden;
  margin-bottom: 20px;
}
.code-input-input {
  all: unset;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 200%;
}

.code-input-input,
.code-input-ruler {
  font-family: monospace;
  font-size: 30px;
  letter-spacing: 30px;
}

.code-input-boxes {
  line-height: 0;
}
.code-input-box {
  display: inline-block;
  height: 20px;
  border: 2px solid rgba(var(--text-rgb), 0.3);
  border-radius: 3px;
}
.code-input-box-active {
  border-color: var(--text);
}

.code-input-ruler {
  position: fixed;
  left: -100px;
  top: -100px;
  display: inline-block;
  visibility: hidden;
}
#cut {
  position: absolute;
  top: -40vh;
}

.competition-view-all {
  margin-bottom: 30px;
  display: block;
}
.leaderboard-page ul li.match {
  display: block;
  padding: 10px;
  border-bottom: none;
  display: grid;
  grid-template-columns: 1fr 100px 1fr;
  gap: 10px;
}

.tabs {
  border-bottom: 3px solid rgba(var(--text-rgb), 0.2);
  display: flex;
  gap: 10px;
}

.tabs li {
  display: block;
}

.tabs li a {
  border-bottom: 3px solid transparent;
  margin-bottom: -3px;
  padding: 5px 7px;
  display: block;
  text-decoration: none;
  color: var(--text);
  font-weight: bold;
}

.tabs li.tab-selected a {
  border-color: var(--primary);
}

.startlist-game {
  margin-top: 30px;
}

.startlist-game-intro {
}
.startlist-game-time {
  font-size: 25px;
}
.startlist-game-hole {
}

.startlist-game-course {
}
.startlist-game-players {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
  padding: 15px 0;
}

.startlist-game-player {
  display: grid;
  grid-template-columns: 24px 1fr;
  gap: 10px;
  align-items: flex-start;
  line-height: 24px;
}

@media (max-width: 500px) {
  .startlist-game-players {
    grid-template-columns: 1fr 1fr;
  }
}
.startlist-game-players .club {
  opacity: 0.5;
  font-size: 12px;
}
.startlist-game-where {
  opacity: 0.7;
  font-size: 12px;
}
.startlist-section-heading {
  padding: 40px 0 5px;
  border-bottom: 1px solid rgba(100, 100, 100, 0.1);
}

.presented-by {
  font-family: Karla, sans-serif;
  text-decoration: none;
  color: inherit;
  display: block;
  padding: 20px 0;
  max-width: 450px;
  min-height: 155px;
}

.presented-by-intro {
  opacity: 0.7;
  text-transform: uppercase;
  font-size: 11px;
  line-height: 15px;
  padding-bottom: 3px;
}

.presented-by-main {
  display: grid;
  grid-template-columns: calc(min(130px, 40vw)) 1fr;
  gap: 30px;
  align-items: center;
}
.presented-by-products {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  gap: 10px;
  align-items: center;
}
.presented-by-main img,
.presented-by-main svg {
  width: 100%;
  height: auto;
}
.presented-by-outro {
  opacity: 0.7;
  font-size: 12px;
  padding-top: 7px;
  font-weight: normal;
  line-height: 15px;
}
@media (prefers-color-scheme: dark) {
  .presented-by-main svg {
    fill: #ffffff;
  }
}

.admin-buttons {
  margin-top: 50px;
  padding: 10px 10px 20px;
  border: 5px dotted var(--primary);
}
.admin-buttons h3 {
  padding-left: 0;
}

.pemb-box {
  margin: 5px;
  max-width: 400px;
  display: block;
  color: inherit;
  text-decoration: inherit;
}

.pemb-intro {
  font-size: 12px;
  opacity: 0.7;
}
.pemb-box h1 {
  margin: 8px 0 4px;
  font-size: 18px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.pemb-date {
  font-size: 12px;
  opacity: 0.7;
}
.pemb-player {
  display: grid;
  grid-template-columns: 30px 1fr 40px;
  gap: 7px;
  margin-top: 15px;
}
.pemb-fake-link {
  text-decoration: underline;
  color: var(--primary);
}

.pemb-player-club {
  opacity: 0.5;
  font-size: 12px;
  margin: 3px 0 5px;
}
.pemb-player-name {
  font-size: 18px;
}
.pemb-player-position {
  font-size: 18px;
}
.pemb-player-score {
  font-size: 18px;
  text-align: right;
}
.pemb-player-score.under-par {
  color: var(--primary);
}
.pemb-player-score-today {
  text-align: right;
  opacity: 0.5;
  font-size: 12px;
  margin: 3px 0 5px;
}
body .pemb-page {
  color: var(--text);
}

.youtube-embed {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%; /* 16:9 aspect ratio */
  margin: 1rem 0;
}

.youtube-embed iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 4px;
}
